<div class="container-fluid">    
    <div data-widget-group="group1" class="ui-sortable">
        <div class=" page-heading" id="page-heading">
            <h3> Reset Password </h3>
        </div>
        <div class="panel panel-default add-panel">
            <div class="panel-body">
                                
                <form ng-submit="" enctype="multipart/form-data" name="rform" id="productForm" class="form-horizontal row-border ng-pristine ng-valid">                    
                    <div class="form-group">
                        <label class="col-md-2 control-label">old-password </label>
                        <div class="col-md-8">
                            <input class="form-control"  type="password" ng-model="resetpsd.oldpassword" required  >                         
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"> new-password </label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" ng-model="resetpsd.newpassword" required >                           
                        </div>
                    </div>
                                                           
                </form>
                
            </div>
          
           
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="submit-btn-div col-sm-2">
                            <span class="btn btn-prod " ng-click="resetpsd.Reset(rform.$valid)">Submit</span>
                        </div>
                        <div class="cancel-btn-div col-sm-2">
                            <span class="btn btn-prod " id="cancelForm" ng-click="resetpsd.close()">Cancel</span>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>