<ul class="sidebar-nav container-fluid ">
    <li class="sidebar-brand ">
    <a href="" class="sidebar-user"  ><img src="{{imageBasePath}}/person.png" alt="Jonathan Smith" /></a>
    </li>
    <li class="sidebar-brand " style="font: bold; color: white">
       {{userSession.account.username}}
    </li>
    
    <li class="sidebar-brand ">
        <a href="/mini-project/public/app/#/mygroups" ><span class="ti ti-view-list-alt"></span> &nbsp; My-Groups</a>
    </li>
    <li class="sidebar-brand ">
        <a href="/mini-project/public/app/#/othergroups" ><span class="ti ti-view-list-alt"></span> &nbsp; Other-Groups</a>
    </li>
    <li class="sidebar-brand ">
        <a href="/mini-project/public/app/#/upcoming-bday" ><span class="ti-calendar"></span> &nbsp; up-coming Birthday's</a>
    </li>
  
</ul>