
<div class="col-sm-12">
    <div class=" page-heading" id="page-heading">
        <h3 class="mini-h">Complete Birthday List </h3>
    </div>
    
    <panel panel-class="panel-sky" ng-hide=""> 
        <div class="panel panel-sky add-panel">
            
            <div class="form-horizontal panel-heading list-header">
                <div class="">
      
                </div>
            </div>
            
            <div class="panel-heading ">   
                
            </div>
            <div class="panel-body">
                <div class="table-responsive ng-scope">
                    <div style="border: 1px solid gray;background-color: lavender">
                        <span>
                            <div ng-show="bday.bdays.January" class=" mini-h" > January</div>
                            <table class="table">
                                <tr ng-repeat=" jan in bday.bdays.January " class="mini-p">
                                    <td>Jan - {{jan.dob_day}} </td>
                                    <td> {{jan.username}}</td>
                                    <td> {{jan.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.February" class="mini-h"> February</div>
                            <table class="table">
                                <tr ng-repeat=" feb in bday.bdays.February " class="mini-p">
                                    <td>Feb - {{feb.dob_day}} </td>
                                    <td> {{feb.username}}</td>
                                    <td> {{feb.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.March" class="mini-h"> March</div>
                            <table class="table">
                                <tr ng-repeat=" mar in bday.bdays.March " class="mini-p">
                                    <td>Mar - {{mar.dob_day}} </td>
                                    <td> {{mar.username}}</td>
                                    <td> {{mar.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.April" class="mini-h"> April</div>
                            <table class="table">
                                <tr ng-repeat=" apr in bday.bdays.April " class="mini-p">
                                    <td>Apr - {{apr.dob_day}} </td>
                                    <td> {{apr.username}}</td>
                                    <td> {{apr.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.May" class="mini-h"> May</div>
                            <table class="table">
                                <tr ng-repeat=" may in bday.bdays.May" class="mini-p">
                                    <td>May - {{may.dob_day}} </td>
                                    <td> {{may.username}}</td>
                                    <td> {{may.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.June" class="mini-h"> June</div>
                            <table class="table">
                                <tr ng-repeat=" jun in bday.bdays.June" class="mini-p">
                                    <td>Jun - {{jun.dob_day}} </td>
                                    <td> {{jun.username}}</td>
                                    <td> {{jun.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.July" class="mini-h"> July</div>
                            <table class="table">
                                <tr ng-repeat=" jul in bday.bdays.July" class="mini-p">
                                    <td>Jul - {{jul.dob_day}} </td>
                                    <td> {{jul.username}}</td>
                                    <td> {{jul.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.August" class="mini-h"> August</div>
                            <table class="table">
                                <tr ng-repeat=" aug in bday.bdays.August" class="mini-p">
                                    <td>Aug - {{aug.dob_day}} </td>
                                    <td> {{aug.username}}</td>
                                    <td> {{aug.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.September" class="mini-h">September</div>
                            <table class="table">
                                <tr ng-repeat=" sep in bday.bdays.September" class="mini-p">
                                    <td>Sep - {{sep.dob_day}} </td>
                                    <td> {{sep.username}}</td>
                                    <td> {{sep.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.October" class="mini-h"> October</div>
                            <table class="table">
                                <tr ng-repeat=" oct in bday.bdays.October" class="mini-p">
                                    <td>Oct - {{oct.dob_day}} </td>
                                    <td> {{oct.username}}</td>
                                    <td> {{oct.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.November" class="mini-h"> November</div>
                            <table class="table">
                                <tr ng-repeat=" nov in bday.bdays.November" class="mini-p">
                                    <td>Nov - {{nov.dob_day}} </td>
                                    <td> {{nov.username}}</td>
                                    <td> {{nov.email}}</td>
                                </tr>
                            </table>
                        </span>
                        <span>
                            <div ng-show="bday.bdays.December" class="mini-h"> December</div>
                            <table class="table">
                                <tr ng-repeat=" dec in bday.bdays.December" class="mini-p">
                                    <td>Dec - {{dec.dob_day}} </td>
                                    <td> {{dec.username}}</td>
                                    <td> {{dec.email}}</td>
                                </tr>
                            </table>
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>
    </panel>
    
</div>

